body {
  overflow: hidden;
}
#ascii,
#root,
img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#ascii.animate {
  animation: fade 2s infinite;
}
img {
  object-fit: contain;
}
#root {
  z-index: -1;
}

@keyframes fade {
  0% {
    filter: contrast(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    filter: contrast(0);
    opacity: 0;
  }
}
